{% extends 'base.html' %}

{% block app_content %}


    <div class="container p-3">
        <div class="row">
            <div class="col-md-3">
                <h2 class="fw-light" style="color: darkblue">ABOUT US</h2>
            </div>
        </div>
    </div>

    <div class="container p-3">
        <p>
            TCSS506 Capstone project. <br>
            We collect and analyze the best data available on cases, deaths, tests, hospitalizations, and vaccines.
        </p>
    </div>


    <div class="container p-3">
        <div class="row">
            <div class="col-md-3">
                <h4 class="fw-light" style="color: lightslategrey">About Our Sources:</h4>
            </div>
        </div>
    </div>


    <div class="container p-3">
    <p>
        Cases and deaths data from JHU CSSE;  <br>
        Testing and vaccine data from JHU CCI; <br>
        County testing data from JHU CCI; <br>
        Racial breakdown data from  COVID Tracking Project Racial Data Tracker; <br>
        and hospitalization data from the U.S. Department of Health and Human Services. <br>
    </p>
    </div>


{% endblock %}