{% extends 'base.html' %}

{% block app_content %}
    <div class="container p-3">
        <div class="row">
            <div class="col-md-3">
                <h2 style="color: darkblue">COUNTY MAPS</h2>
            </div>
        </div>
    </div>

    <div class="container p-3">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="dailyDataDemo-tab" data-bs-toggle="tab" data-bs-target="#dailyDataDemo" type="button"
                role="tab" aria-controls="dailyDataDemo" aria-selected="true">Daily Data</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="cumulativeData-tab" data-bs-toggle="tab" data-bs-target="#cumulativeData" type="button"
                role="tab" aria-controls="cumulativeData" aria-selected="false">Cumulative Data</button>
      </li>

        </ul>
    </div>


    <div class="container p-3">

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="dailyDataDemo" role="tabpanel" aria-labelledby="dailyDataDemo-tab">


                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color: lightslategrey">
                                This tool shows key county-level COVID-19 daily cases and testing data. <br>
                                COVID-19 data points can be chosen from the drop down menu below
                            </p>
                        </div>
                    </div>
                </div>



                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    function cb(selection) {
                        $.getJSON({
                            url: "/callback", data: { 'data': selection }, success: function (result) {
                                Plotly.newPlot('daily_chart', result, {});
                            }
                        });
                    }
                </script>

                <div class="col-2">
                <select class="form-select form-select-sm" onChange="cb(this.options[this.selectedIndex].value)">
                    <option selected>Select option</option>
                    <option value="confirmed_daily">New Daily Cases</option>
                  <option value="deaths_daily">New Daily Deaths</option>
                </select>


                <div class="row">
                    <figure class="figure">
                        <div id="daily_chart" class="figure-img img-fluid rounded"></div>
                        <figcaption class="figure-caption">
                            Data Sources: County testing data from 
                            <a href="https://github.com/govex/COVID-19/tree/7d5a00cc03a28c747973cf71b4dd9fef43c9b264/data_tables" 
                               class="text-decoration-none">JHU CCI;</a>
                            cases and deaths data from <a href="https://github.com/CSSEGISandData/COVID-19"
                                                          class="text-decoration-none">JHU CSSE;</a>
                        </figcaption>
                    </figure>

                </div>

                </div>


                 <div class="container p-3">
                <div class="row">
                    <h3 style="color: darkblue">Statewide Racial Breakdown of Cases and Deaths<br></h3>

                    <div id="racial_chart" class=”chart”></div>
                   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script type="text/javascript">
                    var graphs = {{graphJSON_racial | safe}};
                    Plotly.plot('racial_chart',graphs,{});
                    </script>

                </div>

            </div>


                <div class="container p-3">
                <div class="row">
                    <p style="color: lightslategrey">Data Source:
                        <a href="https://covidtracking.com/race/dashboard" class="text-decoration-none">
                            COVID Tracking Project Racial Data Tracker</a>
                        .Data shown is only for cases and deaths where racial data is reported up through March 7, 2021.</p>
                </div>
            </div>


            </div>


            <div class="tab-pane fade" id="cumulativeData" role="tabpanel" aria-labelledby="cumulativeData-tab">
                <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: lightslategrey">
                            This map shows cumulative numbers for the length of the pandemic.
                        </p>
                    </div>
                </div>
                </div>


{#                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}
{#                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#                <script>#}
{#                    function cb(selection) {#}
{#                        $.getJSON({#}
{#                            url: "/callback", data: { 'data': selection }, success: function (result) {#}
{#                                Plotly.newPlot('accu_chart', result, {});#}
{#                            }#}
{#                        });#}
{#                    }#}
{#                </script>#}
{##}
{#                <div class="col-2">#}
{#                <select class="form-select form-select-sm" onChange="cb(this.options[this.selectedIndex].value)">#}
{#                    <option selected>Select option</option>#}
{#                    <option value="confirmed">Total Cases</option>#}
{#                  <option value="deaths">Total Deaths</option>#}
{#                </select>#}
                <div class="row p-3">
                    <h4 style="color: darkblue">Total cases</h4>
                </div>

                <div class="row" >
                    <div class="col-md-12" id="accCases" aria-labelledby="accCases-btn">
                        <div id="acc_confirmed_chart" class=”chart”></div>
                           <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                            <script type="text/javascript">
                            var graphs = {{mapJSON_acc_confirmed | safe}};
                            Plotly.plot('acc_confirmed_chart',graphs,{});
                            </script>

                    </div>
                </div>

                <div class="row p-3">
                    <h4 style="color: darkblue">Total deaths</h4>
                </div>

                <div class="row" >
                    <div class="col-md-12" id="accDeaths" aria-labelledby="accDeaths-btn">
                        <div id="acc_Deaths_chart" class=”chart”></div>
                           <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                            <script type="text/javascript">
                            var graphs = {{mapJSON_acc_deaths | safe}};
                            Plotly.plot('acc_Deaths_chart',graphs,{});
                            </script>

                    </div>
                </div>

                <div class="container p-3">
                <div class="row">
                    <p style="color: lightslategrey">Data Source: Cases and deaths data from
                        <a href="https://github.com/CSSEGISandData/COVID-19" class="text-decoration-none">JHU CSSE</a></p>
                </div>
            </div>


            </div>



        </div>




    </div>



    </div>



{% endblock %}