<table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Doses Administered</th>
          <th scope="col">People Fully Vaccinated</th>
          <th scope="col">% of Population Fully Vaccinated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{vaccine_data['dose_administered']}}</td>
          <td>{{vaccine_data['fully_vaccinated_cases']}}</td>
          <td>{{vaccine_data['vaccinated_ratio']}}</td>
        </tr>
      </tbody>
</table>